@import 'variables';


.container{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    height:70vh;
    
    display: flex;
    justify-content:space-between;
    color:$nav-text-color;

    .social-media-section{
        background-color: rgba(255, 255, 255, 0.5);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
       
        width: 30%;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        
        .social-media-title{
            height: 40%;
            p{
                font-size:24px;
                width: 80%;
                padding-top:30px;
                margin:auto;
            }
            h1{
                width: 100%;
                padding-top:30px;
                margin-block-end: 0;
                margin-block-start: 0;
            }
        }
        
        .social-media-links{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{
                margin:0;
                display: flex;
                justify-content:center;
                align-items: center;
                font-size:32px;
                font-weight: 600;
                width: 100%;
                transition: all 0.25s ease-in-out;
                cursor: pointer;
                text-decoration: none;
                color: $nav-text-color;
                
                &:hover{
                    background-color: rgba(255, 255, 255, 0.5);

                
                }
            }
            
                
               
        }
    }
    .contact-form-section{
        background-color: rgba(255, 255, 255, 0.75);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
       
        width: 70%;
        height: 100%;
    }
}